@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@500&display=swap");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}

.nav {
  background-color: rgb(139, 185, 248);
  color: white;
  padding: 0 3rem;
  font-size: 22px;
  display: flex;
  justify-content: center;
  /* position: fixed; */
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
}
.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 3rem;
  inline-size: none;
}
.nav a {
  color: #0a0a0a;
  text-decoration: none !important;
}
.nav a:hover {
  font-size: 22px;
}
.site-logo {
  font-size: 50px;
}
.logo {
  width: 200px;
  display: flex;
}
.them {
  background-color: transparent;
  border: none;
  font-size: 15px;
  color: aliceblue;
  display: flex;
  align-items: flex-end;
  margin-top: -7px;
}
.moon {
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.book-img {
  width: 700px;
}
.book-inside {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.media-txt {
  color: rgb(127, 176, 246);
  display: flex;
  justify-content: center;
  font-size: 80px;
  margin-top: 10px;
}
.book-container {
  /* background-color: rgb(164, 163, 163); */
  margin-top: -30px;
}
.action-one,
.action-two,
.action-three {
  /* background-color: rgb(242, 241, 243);
  width: 400px;
  height: 400px;
  border-radius: 80px; */
}
.action-inside {
  display: flex;
  justify-content: space-evenly;
  margin-top: 200px;
}
.action-container {
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 150px;
}
.action-inside {
  border-radius: 100px;
  background-color: rgb(139, 185, 248);
  margin-top: 10px;
}
.action-inside {
  padding-top: 100px;
  padding-bottom: 100px;
}
.news-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 100px;
  margin-top: 100px;
}
.news-line {
  height: 2px;
  background-color: rgb(10, 10, 10);
  width: 77%;
}
.news-title {
  font-size: 50px;
}
.monday-line {
  height: 2px;
  background-color: rgb(10, 10, 10);
  width: 150%;
  margin-left: -40px;
}
.news-line1 {
  display: flex;
  gap: 100px;
  flex-direction: column;
  padding-top: 50px;
}
.week-line {
  display: flex;
  font-size: 50px;
  gap: 120px;
}
.resurse-container {
  background-color: rgb(164, 163, 163);
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 140px;
}
.resurse-txt {
  font-size: 50px;
}
.foot-container {
  background-color: #fff;
  height: 250px;
}
.tbilisi-img {
  width: 400px;
}
.foot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding-left: 150px;
  padding-right: 150px;
}
.ltxt {
  font-size: 15px;
}
.foot {
  display: flex;
}
.meeting-img {
  display: flex;
  width: 405px;
  border-radius: 80px;
}
.training-img {
  display: flex;
  width: 405px;
  border-radius: 80px;
}
.meeting-txt {
  display: flex;
  width: 400px;
  padding-top: 30px;
}
.training-txt {
  display: flex;
  padding-top: 30px;
}
.download-btn1 {
  display: flex;
  border-radius: 10px;
  border: none !important;
  cursor: pointer;
  flex-direction: column;
  gap: 20px;
  width: 150px;
  height: 50px;
  align-items: center;
  justify-content: center;
  background-color: rgb(70, 138, 232);
  font-size: 20px;
  margin-left: 47px;
}
.download-btn2 {
  display: flex;
  border-radius: 10px;
  border: none !important;
  cursor: pointer;
  flex-direction: column;
  gap: 20px;
  width: 150px;
  height: 50px;
  align-items: center;
  justify-content: center;
  background-color: rgb(70, 138, 232);
  font-size: 20px;
  margin-left: -23px;
}
.download-btn3 {
  display: flex;
  border-radius: 10px;
  border: none !important;
  cursor: pointer;
  flex-direction: column;
  gap: 20px;
  width: 150px;
  height: 50px;
  align-items: center;
  justify-content: center;
  background-color: rgb(70, 138, 232);
  font-size: 20px;
  margin-left: 9px;
}
.dwn-download,
.dwn3-download,
.dwn2-download {
  text-decoration: none;
  color: #fff;
}
.resurse {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  gap: 21px;
}
.news-image {
  width: 400px;
  border-radius: 80px;
}
.news-txt {
  display: flex;
  font-size: 15px;
  width: 500px;
}
.news-line1 {
  display: flex;
  gap: 100px;
  padding-top: 50px;
}
.Take-action:hover {
  color: red;
}
.propaganda-txt {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 38px;
}
.th3 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 38px;
}
.five-txt,
.fake-txt,
.propaganda-txt {
  color: #fff;
  font-size: 22px;
}
